# MongoDB Connection URI (utilizado para persistir as sessões e links de túnel do piSlideControl)
# Exemplo: mongodb+srv://<usuario>:<senha>@cluster.mongodb.net/piSlideControl?retryWrites=true&w=majority
MONGODB_URI=
